.center-box {
    width: 900px;
    height: 250px;
    background-color: #180080;
    display: flex;
    align-items: center;
}
.center-item {
    flex: 1;
    height: 65px;
    background-color:#F9E4B5;
    align-items: center;
}